@font-face{ 
    font-family: 'coiny';
    src: url('Coiny-Regular.ttf');
}
        
body {
    height: 100%;
    overflow: hidden;
}

div.playgrid {
    position: relative;
    border-spacing: 0px;
    border-width: 2px;
    border-style: transparent;
    /* background-color: 000; */
    /* left:0; */
    /* top:0; */
}

div.ui-container {
    position: absolute;
    top: 260;
    left: 0;
}

#board {
    z-index: 0;
    border-style: solid;
}

div.playgrid div:hover {
    background-color: #888;
    opacity: 0.5;
/*    border-radius: 25px; */
}

div.playgrid div {
    position: absolute;

    width: 25px;
    height: 25px;
    padding: 0px;
    vertical-align: top;
    text-align: center;
    font-family: 'coiny';
    font-size: 19px;
    margin: 0px;
}

div.playgrid div.left-set {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: 0px;
}

div.playgrid div.right-set {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-right: 0px;
}

div.playgrid div.top-set {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-top: 0px;
}

div.playgrid div.bottom-set {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom: 0px;
}

#board div.line {
    background-color: #ee0;
    box-shadow: 1.5px 1.5px 0px 0px #660;
    z-index: -1;
    border-radius: 25px;
    border: solid 1px #880;
}

#board div.line-match {
    background-color: #0e0;
    box-shadow: 1.5px 1.5px 0px 0px #060;
    border: solid 1px #080;
}

#board div.line-toolong {
    background-color: #e00;
    box-shadow: 1.5px 1.5px 0px 0px #600;
    border: solid 1px #800;
}

#board div.blocked {
    background-color: #f00;
}

@keyframes blink {
    from { background-color: rgba(255, 0, 0, 1); }
    50% { background-color: rgba(0, 255, 0, 0); }
    to { background-color: rgba(255, 0, 0, 1); }
}

div.blink {
    animation-name: blink;
    animation-duration: 0.1s;
    animation-iteration-count: 3;
}

